.header {
    display: flex;
    max-width: 1200px;
    margin: 5vh auto 0vh auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    @media screen and (max-width: 1024px) {  
        flex-direction: column;
    }

    &-left-wrapper {
        margin-left: 10px;
        width: 45%;

        @media screen and (max-width: 1024px) {  
            width: 90%;
            margin: 10px auto;
            margin-bottom: 15px;
        }

        &-title {
            margin: 0vh auto 4vh auto;
        }

        span { 
            display: inline;
        }
    }
    &-right-wrapper {
        margin-top: 8vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        padding-bottom: 20px;

        @media screen and (max-width: 768px) {  
            width: 98%;
            margin: 0 auto;
            grid-gap: 10px;
        }

        @media screen and (min-width:  670px) and (max-width: 1024px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &-scroll {
        width: 100px;
        height: 70px;
        margin: 20px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        
        img {
            margin: 10px 0;
            width: 25px;
        }
    }
}