.header {
    align-items: center;

    @media screen and (max-width: 480px) {  
        flex-direction: column;
    }

    &-left-wrapper {
        margin-left: 10px;
        width: 45%;

        @media screen and (max-width: 480px) {  
            width: 90%;
            margin: 0 auto;
        }
    }
    &-right-wrapper {
        margin-top: 8vh;
        width: 40%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        padding-bottom: 20px;

        @media screen and (max-width: 480px) {  
            width: 90%;
            margin: 0 auto;
        }
    }

    &-scroll {
        width: 100px;
        height: 40px;
        margin: 20px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        
        img {
            margin: 10px 0;
            width: 25px;
        }
    }
}