@use '../../../globals.scss' as v;

.button {
    height: 30px;
    width: 140px;
    background-color: v.$mainViolet;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    padding: 2px 10px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img {
        width: 15px;
    }

    &:hover, &:active, &:focus {
        background-color: v.$secondaryBlue;
    }

    @media screen and (max-width: 480px){
        height: 25px;
        width: 130px;

        img {
            width: 12px;
        }
    }
}