@import '../../globals.scss';

.featureCard {
    width: 205px;
    height: 195px;
    border-radius: 20px;
    background-color: $mainViolet;
    margin: 10px auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.3s ease-in-out;

    font-size: 48px;

    @media screen and (max-width: 480px) {  
        width: 130px;
        height: 118px;
        font-size: 32px;
    }

    &:hover {
        transform: scale(1.05);
    }

    &-wrapper {
        color: $lightBlue;

        &-title {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            
        }
       
    }
    &:nth-of-type(even) {
        top: 35px;
        position: relative;
      }
}