@use '../../globals.scss' as global;

.contact {
    margin-top: 50px;
    .section-header {
        margin-bottom: 0 !important;
    }

    &-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;

        img {
            width: 50px;
            margin: 10px 0;
        }
    }

    &-methods {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 80px;
        
        &-card {
            cursor: pointer;
            width: 230px;
            height: 180px;
            border: 2px solid global.$mainViolet;
            border-radius: 14px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 10px;
            transition: 0.3s ease-in-out;

            &:hover {
                transform: scale(1.05);
                background-color: global.$mainViolet;
                color: #fff;

                .contact-methods-card-icon {
                    border-color: #fff;
                    fill: green;
                }

                .highlighted-main-text {
                    color: #fff;
                }

                .icon-initial {
                    display: none;
                }

                .icon-hover {
                    display: block;
                }
            }

            &-icon {
                width: 30px;
                height: 30px;
                padding: 5px;
                border-radius: 8px;
                border: 1.5px solid global.$mainViolet;

                .icon-hover {
                    display: none;
                }
            }
        }
    }
}